.subBtn {
  width: 100%;
  background-color: rgba(33, 29, 29, 1);
}

.activeSubBtn {
  border: 2px solid rgba(251, 138, 0, 1);
}

.header {
  font-family: "SF Pro Text";
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: rgba(251, 138, 0, 1);
  display: block;

  * {
    color: inherit;
  }
}

.price {
  margin: 4px 0 0 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  display: block;
}

.description {
  width: 100%;
  font-family: "SF Pro Text";
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color: rgba(245, 247, 250, 1);
  padding: 2px 6px;
  border-radius: 4px;
  background: rgba(251, 138, 0, 1);
  display: block;
  margin: 8px 0 0 0;
}
