.video {
  position: relative;
  width: 100%;
  height: calc(100% - 48px);

  video {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    position: relative;
  }

  .loaderSpinner {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}


