.sideBtnsCont {
  display: flex;
  flex-direction: column;

  position: absolute;
  align-items: center;
  gap: 10px;

  bottom: 50px;
  right: 6px;

  .btn {
    min-width: none;
    width: 64px;
    height: 64px;
    padding: 0;

    &:last-child {
      margin: 12px 0 0 0;
    }
  }
}

.likeActive {
  path {
    fill: var(--main-theme-color-2);
  }
}

.likeSVG {
  path {
    fill: transparent;
  }

  .serialLike {
    path {
      fill: var(--main-theme-color-2) !important;
      stroke: var(--main-theme-color-2);
    }
  }
}

.serialLikeSvg {
  path {
    fill: var(--main-theme-color-2) !important;
    stroke: var(--main-theme-color-2);
  }
}
