.header {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: var(--main-text-color);
}

.settingsHeader {
  text-align: center;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: var(--main-text-color);
}
