.scrollContainer {
  position: relative;
  overflow: scroll;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  width: 100%;
}

.content {
  display: flex;
  position: absolute;
  min-width: 100%;
  top: 0;
}
