.sideBtn {
  svg {
    width: 30px;
    fill: white;

    g {
      opacity: 0;
    }

    &.activeBookmarkSVG {
      fill: var(--main-theme-color-2);

      g {
        opacity: 1;
      }
    }
  }
}
