:root {
  --main-theme-color-1: black;
  --main-theme-color-2: rgba(251, 138, 0, 1);
  --main-text-color: rgba(245, 247, 250, 1);
  --sub-text-color: rgba(121, 120, 124, 1);
  --skeleton-bg: rgba(46, 46, 48, 1);
}
