.list {
  padding: 16px 0;
  border-bottom: 1px solid rgba(121, 120, 124, 0.5);
  flex: 1 0 auto;

  li {
    margin: 8px 0 0 0;

    &:first-child {
      margin: 0;
    }
  }
}

.emptyList {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 0 0;

  span {
    text-align: center;
  }
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
