.container {
  margin-top: 16px;
  .loader {
    margin-left: 8px;
    aspect-ratio: 88/117;
    margin-bottom: 20px;

    &:first-child {
      margin-left: 0;
    }

    width: 25%;
    min-width: 120px;
    &:first-child {
      margin-left: 0;
    }
  }
}
