.container {
  flex: 1 0 auto;
  .tgBtn {
    padding: 8px;
    margin: 16px 0 0 0;
    img {
      max-width: 24px;
      max-height: 24px;
      margin-right: 8px;
    }
  }
}

.cardForm {
  margin: 16px 0 0 0;
}
